<!-- home screen displaying all posts -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>
    <title>Home | Weekly</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li>Home</li>
      </ul>
    </nav>
    <hr class="nav_bottom">
    <main>
      <div class="row">

        <div class="column">
          <div class="post_new">
            <p>
              <a href="/posts/new">📝</a>
            </p>
          </div>
        </div>

        <% Post.all.order('id DESC').each do |p| %>
        <div class="column">
          <div class="post">
            <p><%= p.medium %></p>
            <p>
              <strong><%= p.user.name %></strong>
                <% if p.medium == "Podcast" %>
                  <%= "listened to" %>
                <% elsif p.medium == "Video" %>
                  <%= "watched" %>
                <% else %>
                  <%= "read" %>
                <% end %>
              <a href="<%= p.link %>" target="_blank"><%= p.title %></a>
            </p>
          </div>
        </div>
        <% end %>

      </div>
    </main>
  </body>
</html>
